.build_cache.json
*.log
*.mid
*.midi
*.ps
*~
bwv1006_csv_midi_note_events.csv
bwv1006_csv_svg_note_heads.csv
bwv1006_ly_one_line.midi
bwv1006_ly_one_line.svg
bwv1006_svg_no_hrefs_in_tabs_bounded_optimized.svg
bwv1006_svg_no_hrefs_in_tabs_bounded.svg
bwv1006_svg_no_hrefs_in_tabs.svg
debug.txt